{
  "parser": "babel-eslint",
  "globals": {
    "document": 1,
    "Handlebars": 1
  },
  "rules": {
    "strict": 0,
    "no-undef": 1,
    "quotes": [2, "single"],
    "eqeqeq": 1,
    "no-debugger": 1,
    "no-unreachable": 1,
    "curly": 2,
    "brace-style": [2, "1tbs"],
    "indent": [2, 2],
    "semi-spacing": [2, { "before": false, "after": true }],
    "semi": [2, "always"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-keywords": [2, "always"],
    "spaced-comment": [2, "always"]
  }
}
