<div id="headNav"></div>
<!--<div class="banner">-->
  <!--<div class="logo">-->
    <!--&lt;!&ndash;<img alt="web-boilerplate" class="headerLogo" src="./images/header.png">&ndash;&gt;-->
  <!--</div>-->
  <!--<div class="bonafides">-->
  <!--</div>-->
<!--</div>-->
