<h2 class="title">Welcome to web-boilerplate</h2>
<article>
  <section>
    <p>Lorem ipsum dolor sit amet, no animal interpretaris pri. Facer tibique platonem per et. Ei vix ubique maiorum, eum at vero solum suscipit. Omnis mundi assueverit mea id, et alia definiebas liberavisse nec.</p>
    <h2>Usu illum inimicus te</h2>
    <p>Has mutat nusquam persecuti in, sed sale oportere cotidieque ex. Doctus deleniti philosophia ea cum. Eum at alienum salutatus vituperata, id tempor persecuti voluptatibus est. Sea ea ullum petentium, vitae soleat quaerendum cu quo, vel ea corrumpit deseruisse. Sit ad altera detraxit, veri magna falli mea at.</p>

    <ul style="list-style-type: none;">
      <li><b>Sit te modus equidem vulputate</b><br/>
        <p>Has mutat nusquam persecuti in, sed sale oportere cotidieque ex. Doctus deleniti philosophia ea cum. Eum at alienum salutatus vituperata, id tempor persecuti voluptatibus est. Sea ea ullum petentium, vitae soleat quaerendum cu quo, vel ea corrumpit deseruisse. Sit ad altera detraxit, veri magna falli mea at.</p>
          <br/></li>
      <li><b>An menandri mediocrem vi</b><br/>
          Ex purto graecis instructior eam, te brute ponderum volutpat usu, vidisse ceteros eos cu. Te posse legimus delicatissimi cum, mel simul principes ea. Eos in epicurei pertinax. Vix tritani evertitur et.<br> &nbsp; </li>
      <li><b>Patrioque omittantur signiferumque cu si</b><br/>
          Debitis forensibus delicatissimi no sea, nibh legimus alienum cum id. His ut mundi noster gloriatur, congue praesent ea mel. Et nominavi petentium honestatis qui, et unum primis mea. Ei mel diceret mediocritatem, vix laoreet moderatius ut, eum brute quodsi apeirian id. Vel ex minim fabulas suavitate, duo in propriae oportere dissentiet, te porro euismod eos.<br/></li>
    </ul>
  </section>
  <aside>{{> widget-example }}</aside>
</article>
